cloud_id                 = "b1gf7tfgqmq6e1sqa4u4"
folder_id                = "b1g36pr10f95b2irvqck"
image_id                 = "fd85jf27ie4dcc6232mv"
instance_app_zone        = "ru-central1-a"
subnet_id                = "e9bhkneprjbvqmc7sgof"
public_key_path          = "~/.ssh/appuser.pub"
private_key_path         = "~/.ssh/appuser"
service_account_key_file = "key.json"
app_disk_image           = "fd81fcfur6l5qii28mki"
db_disk_image            = "fd8m4s4n9jerg40f64gd"
